<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>My Intelli-Q | Home</title>
</head>

<body>
    <main>
        <div class="text-center">
            <img width="190px" src="../static/assets/logoWhite.png">
        </div>

        <article>

            <div class="illustration">
                <div class="fadein">
                    <img src="../static/assets/upload1.svg">
                </div>
            </div>

            <div class="content">

                <h1>Discover the Unseen Depths of the Text!</h1>

                <p>Generates a Multiple Features like Summarization, MCQs, Question and Answers  from any uploaded text using NLP. This can be used for
                    self-analysis, question paper generation, concise the text, thus reducing human effort.</p>
                <a href=signin><button>Get Started</button></a>
            </div>

        </article>

    </main>
</body>

</html>