<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/unauthorized.css">
    <title>401 | Unauthorized!</title>
</head>

<body>
    <main class="text-center text-lg-right">
        <img width="400px" src="../static/assets/unauthorized.svg" alt="404">
        <h3>Oi! Stop right there!</h3>
        <p>The page you are looking for can be accessed only if you are logged in. Don't try to be sneaky! But you can click <a id="home401"
                href="/signin">here</a> to go to the login page.</p>
    </main>

</body>

</html>